<h1>Home#index</h1>

<%= form_tag home_index_path, method: :get %>
  <%= text_field_tag :search %>
<%= submit_tag "Search" %>


<br />
<br />
<table>
  <tr>
    <th>Number</th>
    <th>Pokemon Name</th>
    <th>Type 1</th>
    <th>Type 2</th>
  </tr>
  <tbody>
    <%= render @pokemons %>
  </tbody>
</table>