<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<table>
  <tr>
    <th>Number</th>
    <th>Pokemon Name</th>
    <th>Type 1</th>
    <th>Type 2</th>
  </tr>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= link_to(pokemon.poke_number, pokemon_path(pokemon)) %></td>
        <td><%= pokemon.poke_name %></td>
        <td><%= pokemon.kinds.first.try(:kind) %></td>
        <td><%= pokemon.kinds.second.try(:kind) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
